*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;

}
h1{
    font-size: 2.5rem;
    text-align: center;
}
a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}
[class*='col-']{
    float: left;
    padding: 10px;
}
/*--for mod]bile--*/
[class*='col-']{
width: 100%;}

/*Navbar starts from here ---------------------*/
.nav-logo{

}
.nav-logo > img{
border: 1px solid transparent;
border-radius: 50%;
}

.nav-heading{

}
#header-h1{
    font-size: 2.5rem;
    text-align: center;
    color:white;
    margin: 0;
}

.navbar-menu{
display: flex;
flex-flow: column wrap;
text-transform: uppercase;
}
.navbar-menu > a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: rgb(20, 74, 63);
    margin: 5px 0;
    border-radius: 15px;
    padding: 5px;
}
.navbar-menu > a:hover{
background-color: rgb(5, 24, 20) ;
box-shadow: 0 .5px 2px white;

}

nav{
    background-color: #4FA8D2;
    /* background-color:#18646bfe ; */
    text-align: center;
    padding: 1% 7%;
}
nav::after{
    content: '';
    display: table;
    clear: both;
}
/*Navbar Ends from here ---------------------*/


/*Profile section starts from here ---------------------*/
#profile-section{
text-align: center;
background-image: url("image/desktop.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;
padding: 180px 10px;
position: relative;
}
.top-weather-icon{

}
.top-weather-img{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: transform 2s;
}
.top-weather-img:hover{
    transform: rotate(360deg) scale(1.2);

}

.profile-desc{
padding: 10px 2px;
}
.profile-desc>h1{
    font-family: 'Satisfy', cursive;
    font-size: 2.8rem;
    color: white;
}
.profile-desc>p{
    color: rgb(0, 0, 0);
    text-align: center;
    width: 80%;
    margin: 0 auto;
 
}

#profile-section::after{
    content: '';
    display: table;
    clear: both;
}
/*Profile section Ends from here ---------------------*/




/*about-me starts from here ---------------------*/
#about-me{
background-color:#39a4ac ;
padding: 1% 7%;
color: white;
text-align: center;
}
#about-me>h2{
font-size: 1.8rem;
}

.dotted-hr{
border: dotted 6px white;
border-bottom: none;
margin: 20px auto;
width: 90px;
}
.aboutme-hr{

}
.aboutme-image{
}
.aboutme-image>img{
    border: 5px solid white;
height: 400px;
width: 360px;
border-radius: 50%;

}
.aboutme-desc{

}
.aboutme-desc>p{
    font-size: 1.2rem;
    padding: 5px ;
    text-align: center;
    margin: 5px auto;
}
.aboutme-desc>p a{
    
}
.cv-button{
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
#about-me::after{
    content: '';
    display: table;
    clear: both;
    }
    
/*about-me section Ends from here ---------------------*/



/*professional-experience starts from here ---------------------*/

#professional-experience{
   padding: 2%;
}





/*work-experience starts from here ---------------------*/
.work-experience{

}
.card{
background-color: #a39e9e;
padding: 20px;
border-radius: 5px;
transition: 0.3s;
height: 700px;

}
.card:hover{
    box-shadow: 0 4px 8px 5px black;
}
.card-icon{
text-align: center;
} 

.card-icon>img{
    margin: 20px;
    padding: 5px;
    height: 150px;
    width: 150px;
    
}
.rounded-img{
    border: 5px solid white;
    border-radius: 50%;
    padding: 15px;
}
.card-title{
text-align: center;
}
.card-title>h2{
    background-color: #616161;
    color: white;
    padding: 10px;
}
.card-desc{

}
.card-desc>ol>li{
}
.card-desc hr{
margin: 10px 0;
}

/*work-experience section Ends from here ---------------------*/

.skills{
}
.skill-container{
    padding-right: 45px ;


}

.skill-container ul li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    text-transform: uppercase;
    position: relative;

}
.skill-container ul li::before{
    content: '';
    position: absolute;
    height: 12px;
    width: 100%;
    top: calc(100% + 6px);
    left: 0;
    border-radius: 1000px;

    background-color: rgb(86,86,153,.5);
}

.skill-container ul li::after{
    content: '';
    position: absolute;
    height: 12px;
    width: 0;
    top: calc(100% + 6px);
    left: 0;
    border-radius: 1000px;
    /* background-color: rgba(186, 12, 122, 0.5); */

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}
.skill-container ul li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
        width: 90%;
        background-color: red;
    }
}

.skill-container ul li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 85%;
        background-color: rgb(12, 144, 23);
    }
}
.skill-container ul li.js::after{
    animation-name: js;
}
@keyframes js{
    to{
        width: 80%;
        background-color: rgb(175, 22, 137);
    }
}


.skill-container ul li.jquery::after{
    animation-name: jquery;
}
@keyframes jquery{
    to{
        width: 70%;
        background-color: rgb(88, 3, 67);
    }
}




.skill-container ul li.node::after{
    animation-name: node;
}
@keyframes node{
    to{
        width: 85%;
        background-color: rgb(161, 62, 136);
    }
}

.skill-container ul li.express::after{
    animation-name: express;
}
@keyframes express{
    to{
        width: 92%;
        background-color: rgb(158, 0, 119);
    }
}

.skill-container ul li.git::after{
    animation-name: git;
}
@keyframes git{
    to{
        width: 80%;
        background-color: rgb(88, 3, 67);
    }
}


.skill-container ul li.react::after{
    animation-name: react;
}
@keyframes react{
    to{
        width: 90%;
        background-color: rgb(2, 131, 47);
    }
}


/*Skills starts from here ---------------------*/


/*Skills section Ends from here ---------------------*/





#professional-experience::after{
   content: '';
   clear: both;
   display: table;
}
/*professional-experience section Ends from here ---------------------*/




/*Achievement-contact section starts from here ---------------------*/
#Achievement-contact{
padding: 1% 7%;
background-color: #39a4ac;
color: white;
}
.Achivement{
text-align: center;
}

.contact{
    padding: 1% ;
    text-align: center;
}
.contact input, textarea{
width: 100%;
padding: 10px;
margin: 5px auto;
font-size: 1rem;
border: none;
resize: none;
border-radius: 5px;

}
.contact button{
    border: none;
    border-radius: 50px;
    background-color: #052d2f;
    color: white;
    padding: 15px;
    margin: 10px;
    width: 100px;
}

.contact-links{
    text-align: center;
}
.media-buttons .icon-btn{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 28px;
    padding: 5px;
    margin: 10px;
    width: 50px;
}
.media-buttons .icon-btn:hover{
    background-color: gray;
}




#Achievement-contact::after{
content: '';
clear: both;
display: table;
}

/*Achievement-contact section Ends from here ---------------------*/



/*footer-menu section starts from here ---------------------*/
footer{
background-color: black;
color: white;
text-align: center;
padding: 20px;
}

.footer-menu{

}
.footer-menu>a{
    display: block;
margin: 10px 0;
font-size: 1rem;

}
.footer-menu>a:hover{
    color: gray;
}

.footer-desc{

}
.footer-desc p{
    text-align: center;
    font-size: 1rem;

}

footer::after{
    content: '';
    clear: both;
    display: table;
}


/*footer-menu section Ends from here ---------------------*/
